:root {
  /*Dimensions */
  --width-full: 100%;
  --width-12col: 1200px;

  /*grid setting */
  --grid-gap: 10px;
  --padding-default: 20px;

  /* color swatches */
  --bachground-color-navigation: #00000050;
  --bachground-color-light: #ededed;
  --bachground-color-dark: #111;
  /* Text-colors */
  --primary-color: #bf5b23;
  --color-white: #fff;
  --color-dark: #373737;
  --color-light: #ebebeb;
  --color-grey: #888;
  /* category */
  --category-seafood: #3e30e2;
  --category-chicken: #249c8e;
  --category-meats: #d09189;
  --category-veg: #298f3f;
  --category-dessert: #9374eb;
  --category-misc: #9a951e;
  --category-paste: #bf5b23;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body,
html {
  width: var(--width-full);
  background-color: var(--bachground-color-dark);
  color: var(--color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

h1,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

/* По дефолту есть маржины для этих элементов */

/* All Buttons */

.button-article {
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 59px;
  color: var(--bachground-color-light);
  font-size: 16px;
  text-transform: uppercase;
}

.button-article:hover {
  padding: 11px 60px;
  font-size: 17px;
}

h2 {
  color: var(--color-white);
  font-size: 37px;
  font-weight: 800;
  text-transform: uppercase;
  margin: 73px 0 0 0;
  border-bottom: 1px solid var(--color-white);
  height: 60px;
}

/* Body */

/* HEADER */
.navigation {
  width: var(--width-full);
  background-color: var(--bachground-color-navigation);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
}

.menu-container {
  width: var(--width-12col);
}

.menu-container ul {
  display: flex;
  line-height: 12px;
}

.menu-container ul li a {
  color: var(--color-white);
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 10px;
}

.menu-container ul li {
  border-right: 1px solid var(--bachground-color-light);
}

.menu-container ul li:last-child {
  border: none;
}

.menu-container ul li a:hover {
  color: var(--primary-color);
}

/* Bloсk 1 - HERO */

.hero-section {
  width: var(--width-full);
  background-image: url('https://picsum.photos/1200/600');
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  justify-content: center;
  height: auto;
}

.hero-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 200px auto auto;
  gap: var(--grid-gap);
  width: var(--width-12col);
  color: var(--color-white);
}

.hero-text {
  grid-column: 1 / span 3;
  grid-row: 2;
  font-size: 12px;
  font-family: Inter, sans-serif;
}

.hero-text h1 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 4px 0;
}

.hero-text h1 span {
  font-size: 37px;
  font-weight: 800;
}

.hero-search-box {
  grid-column: 2 / span 3;
  grid-row: 3;
  position: relative;
  font-size: 14px;
  font-family: Inter, sans-serif;
}

.mag-glass {
  position: absolute;
  top: 6px;
  left: 10px;
  color: var(--bachground-color-light);
}

.search-input {
  background-color: transparent;
  border: 1px solid var(--bachground-color-light);
  border-radius: 5px;
  padding: 10px 20px 10px 40px;
  outline: none;
  color: var(--bachground-color-light);
  margin: 0 0 10px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-input::placeholder {
  color: var(--bachground-color-light);
}

.hero-search-box p {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

/* Bloсk 2 - Today’s recipes */

.todays_recipes {
  width: var(--width-12col);
  margin: 0 auto;
}

.todays_recipes-container-block {
  display: grid;
  column-gap: var(--grid-gap);
  width: var(--width-12col);
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  margin: 28px 0 0 0;
}

.todays_recipes-listing {
  display: grid;
  background-color: var(--bachground-color-light);
  grid-template-rows: auto 1fr;
  color: var(--color-dark);
  border-radius: 5px;
}

.todays_recipes-listing-img img {
  border-radius: 5px 5px 0 0;
  height: 170px;
  width: 100%;
  background-size: auto;
  background-position: center;
}

.todays_recipes-listing-text {
  padding: 22px 23px 24px 39px;
  display: flex;
  flex-direction: column;
}

.todays_recipes-listing-text h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.todays_recipes-listing-text p {
  text-transform: capitalize;
  margin-bottom: 27px;
  font-size: 16px;
}

.todays_recipes-listing-text-bottom {
  display: flex;
  justify-content: space-between;
}

.todays_recipes_categoty {
  font-size: 10px;
  font-weight: 700;
  text-transform: uppercase;
}

.button {
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 6px 23px;
  color: var(--bachground-color-light);
  font-size: 11px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: var(--bachground-color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

/* Line - category color in Today’s recipes*/
.todays_recipes_categoty_block[data-category='seafood'] {
  border-left: 1px solid var(--category-seafood);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='chicken'] {
  border-left: 1px solid var(--category-chicken);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='dessert'] {
  border-left: 1px solid var(--category-dessert);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='meats'] {
  border-left: 1px solid var(--category-meats);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='veg'] {
  border-left: 1px solid var(--category-veg);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='paste'] {
  border-left: 1px solid var(--category-paste);
  padding: 0 0 0 10px;
  height: min-content;
}

.todays_recipes_categoty_block[data-category='misc'] {
  border-left: 1px solid var(--category-misc);
  padding: 0 0 0 10px;
  height: min-content;
}

/* Category color in Today’s recipes*/
.todays_recipes_categoty span[data-category='seafood'] {
  font-weight: 400;
  color: var(--category-seafood);
}

.todays_recipes_categoty span[data-category='chicken'] {
  font-weight: 400;
  color: var(--category-chicken);
}

.todays_recipes_categoty span[data-category='dessert'] {
  font-weight: 400;
  color: var(--category-dessert);
}

.todays_recipes_categoty span[data-category='meats'] {
  font-weight: 400;
  color: var(--category-meats);
}

.todays_recipes_categoty span[data-category='veg'] {
  font-weight: 400;
  color: var(--category-veg);
}

.todays_recipes_categoty span[data-category='paste'] {
  font-weight: 400;
  color: var(--category-paste);
}

.todays_recipes_categoty span[data-category='misc'] {
  font-weight: 400;
  color: var(--category-misc);
}

/* Block 3 - CATEGORY SECTION */

.category_selection {
  width: var(--width-12col);
  margin: 0 auto 69px auto;
}

.category_selection ul {
  height: 90px;
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  background-color: var(--bachground-color-light);
  padding: 10px 50px;
  border-radius: 5px;
}

.category_selection li {
  display: flex;
  width: 100px;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.category_text {
  font-weight: 700;
  text-transform: uppercase;
}

.category_text:hover {
  font-size: 17px;
}

.category_text_veg {
  color: var(--category-veg);
  text-decoration: none;
}

.category_text_sea {
  color: var(--category-seafood);
  text-decoration: none;
}

.category_text_pasta {
  color: var(--category-paste);
  text-decoration: none;
}

.category_text_chicken {
  color: var(--category-chicken);
  text-decoration: none;
}

.category_text_snacks {
  color: var(--category-misc);
  text-decoration: none;
}

.category_text_meats {
  color: var(--category-meats);
  text-decoration: none;
}

.category_text_dessert {
  color: var(--category-dessert);
  text-decoration: none;
}

/* Block4 - All-star showdown */

.all_star_showdown {
  width: var(--width-full);
  background-image: url('https://picsum.photos/1200/600');
  min-height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
}

.all_star_showdown-container {
  display: grid;
  width: var(--width-12col);
  gap: var(--grid-gap);
  grid-template-rows: 200px auto auto;
  margin: 0 auto;
}

.all_star_showdown-text {
  border-radius: 5px;
  padding: 30px;
  grid-column: 9 / span 1;
  grid-row: 2;
  background-color: var(--bachground-color-light);
}

.all_star_showdown-text h3 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.all_star_showdown-text h4 {
  color: var(--color-dark);
  font-weight: 700;
  margin-bottom: 11px;
}

.all_star_showdown-text p {
  color: var(--color-dark);
  font-weight: 400;
}

/*Block 5 - In the kitchen */

.in_the_kitchen-container {
  width: var(--width-12col);
  margin: 0 auto;
}

.in_the_kitchen {
  display: grid;
  margin-top: 24px;
  margin-bottom: 220px;
  min-height: 1140px;
  grid-template-rows: 1fr 1fr 1fr;
}

.in_the_kitchen article {
  display: flex;
  align-items: stretch;
  min-height: 360px;
}

.in_the_kitchen-text {
  width: 50%;
  background-color: var(--bachground-color-light);
  padding: 80px 0 0 90px;
  display: flex;
  flex-direction: column;
}

.in_the_kitchen-media {
  width: 50%;
  position: relative;
}

.in_the_kitchen h3 {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 14px;
}

.in_the_kitchen h4 {
  color: var(--color-dark);
  font-weight: 700;
  margin-bottom: 11px;
  border-left: 2px solid var(--primary-color);
  line-height: 15px;
  padding: 0 10px;
}

.in_the_kitchen p {
  color: var(--color-dark);
  font-weight: 400;
}

.in_the_kitchen a {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 65px;
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
  padding: 10px 59px;
  color: var(--bachground-color-light);
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.in_the_kitchen a:hover {
  padding: 11px 60px;
  font-size: 17px;
}

/* FOOTER */

.footer {
  background-color: var(--primary-color);
  width: var(--width-full);
}

.footer-container {
  display: flex;
  width: var(--width-12col);
  padding: 40px 0;
  margin: 0 auto;
  justify-content: space-between;
  font-size: 10px;
  line-height: 1.5;
}

.footer-container-left {
  display: flex;
  width: 50%;
  height: 100%;
  border-right: 1px solid var(--color-white);
  gap: 10px;
  align-items: stretch;
}

.footer-container-left a {
  color: var(--color-dark);
  font-size: 13px;
  text-transform: capitalize;
  text-decoration: none;
}

.footer-container-left a:hover {
  font-size: 14px;
  color: var(--color-grey);
}

.footer-media {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer-media-row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-navigation {
  width: 50%;
  height: auto;
  display: flex;
}

.footer-navigation ul {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-container-right {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  color: var(--color-dark);
  padding-left: 40px;
}

.footer-container-right a {
  color: var(--color-white);
  text-decoration: none;
}

.footer-container-right-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 17px;
}

.footer-container-right-text img {
  width: 24px;
  height: 24px;
  display: block;
}

/* RECIPE-PAGE */

/* 1st screen */

.recipe-first-screen {
  width: var(--width-12col);
  display: flex;
  justify-content: space-between;
  height: fit-content;
  gap: var(--grid-gap);
  margin: 0 auto;
}

.recipe-first-screen-foto {
  width: 50%;
  margin: 180px 0 0 0;
  height: 100%;
}

.recipe-first-screen-foto img {
  height: 100%;
  display: block;
  justify-self: end;
}

.recipe-first-screen-left {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.recipe-title-text {
  font-size: 12px;
  font-family: Inter, sans-serif;
  margin-top: 200px;
  margin-bottom: 67px;
}

.recipe-title-text h1 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 15px 0 0 0;
}

.recipe-title-text h1 span {
  font-size: 37px;
  font-weight: 800;
}

.recipe-title-text p {
  font-size: 12px;
  color: var(--primary-color);
}

/* internals */

.recipe-internals {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
}

.recipe-internals-item {
  display: flex;
  align-items: center;
  gap: var(--grid-gap);
  margin-bottom: 55px;
}

/* Ingredients */
.recipe-ingredients {
  width: 100%;
  height: fit-content;
  margin-bottom: 25px;
}

.recipe-ingredients h3 {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bachground-color-light);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
}

.recipe-ingredients ul {
  list-style: unset;
  color: var(--bachground-color-light);
  list-style-position: outside;
  /* точки за пределами блока, по умолчанию */
  font-size: 14px;
  line-height: 24px;
  columns: 2;
  column-gap: var(--grid-gap);
  padding-left: 13px;
}

.recipe-ingredients li {
  break-inside: avoid;
  /* предотвращает разрыв элемента между колонками */
  padding: 0 30px 0 0;
}

/* Button */

.recipe-ingredients-buttons {
  display: flex;
  width: 50%;
  gap: var(--grid-gap);
}

.recipe-ingredients-btn {
  background-color: transparent;
  border: none;
  transition: transform 0.2s ease;
  /* создание анимации */
}

.recipe-ingredients-btn:hover {
  transform: scale(1.07);
  /* увеличивается на 7% */
}

/* INSTRUCTIONS SECTION */

.instructions {
  width: var(--width-12col);
  color: var(--color-light);
  margin: 0 auto;
  margin-bottom: 200px;
}

.instructions-container {
  margin-top: 30px;
  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: repeat(12, 1fr);
  box-sizing: border-box;
  height: fit-content;
}

.instructions-container-list {
  grid-column: 1 / 9;
}

.instructions-list {
  line-height: 26px;
  list-style: decimal;
  list-style-position: outside;
  padding-left: 17px;
}

.instructions li {
  font-size: 14px;
  padding: 12px 0;
}

.instructions-images {
  grid-column: 10 / 13;
  grid-row: 30px;
}

.instructions-images-flex {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.instructions-images img {
  width: 100%;
  object-fit: cover;
  gap: 30px;
}

/* BONUS section */
.bonus {
  width: var(--width-12col);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: fit-content;
  margin-bottom: 200px;
}

.bonus-instructions {
  grid-column: 1/9;
}

.bonus-instructions-list {
  width: 100%;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: fit-content;
}

.bonus-instructions-list_ol {
  list-style: none;
  grid-column: 1/7;
}

.bonus-instructions-table {
  display: grid;
  grid-template-rows: repeat(7, auto);
  gap: 25px;
}

.bonus-instructions-table li {
  font-size: 14px;
  line-height: 24px;
  color: var(--bachground-color-light);
  display: flex;
  gap: 25px;
  height: fit-content;
  margin: 0;
}

.bonus-instructions-table li span {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 2.21px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  line-height: 15px;
}

/* BONUS ingredients - right*/

.bonus-recipe-ingredients {
  grid-column: 9/13;
}

.bonus-recipe-ingredients-container {
  margin-top: 30px;
}

.bonus-recipe-ingredients ul {
  font-size: 14px;
  line-height: 24px;
  color: var(--bachground-color-light);
}

/* SEARCH PAGE */

.search-box-section {
  width: var(--width-12col);
  margin: 0 auto;
  min-height: 390px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: var(--grid-gap);
  border-bottom: 1px solid var(--color-dark);
  padding: 120px 0 52px 0;
}

.search-search-box {
  grid-column: 1 / span 4;
  position: relative;
  font-size: 14px;
  font-family: Inter, sans-serif;
  padding-top: 25px;
}

.search-search-box h1 {
  color: var(--color-white);
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 12px;
}

.search-search-box-block {
  width: 100%;
}

.search-mag-glass {
  position: absolute;
  height: 20px;
  width: 20px;
  color: var(--bachground-color-light);
  left: 10px;
  transform: translateY(40%);
}

.search-search-input {
  width: 100%;
  background-color: transparent;
  border: 1px solid var(--bachground-color-light);
  border-radius: 5px;
  padding: 10px 20px 10px 40px;
  outline: none;
  color: var(--bachground-color-light);
  margin: 0 0 10px 0;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.search-search-input::placeholder {
  color: var(--bachground-color-light);
}

.search-search-box p {
  font-size: 12px;
  font-family: Roboto, sans-serif;
}

/* Checkbox - search page*/

.search-category-checkbox {
  padding: 24px 19px;
  grid-column: 6 / span 6;
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap);
  border-radius: 5px;
  background: linear-gradient(90deg, #ededed18 0%, #ededed07 40%, #111 100%);
}

.search-category-checkbox h3 {
  color: var(--color-white);
  font-size: 24px;
  margin-bottom: 13px;
}

.search-category-checkbox-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 13px;
  width: 100%;
}

.search-category-checkbox-box label {
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 20px;
  width: calc(50% - 20px);
}

.search-category-checkbox-box input[type='radio'] {
  margin: 0 10px 0 0;
  height: 22px;
  width: 22px;
}

.search-category-checkbox-box input[type='radio'] {
  accent-color: var(--primary-color);
}

.search-category-checkbox-box input[type='radio']#chicken {
  accent-color: var(--category-chicken);
}

.search-category-checkbox-box input[type='radio']#dessert {
  accent-color: var(--category-dessert);
}

.search-category-checkbox-box input[type='radio']#meats {
  accent-color: var(--category-meats);
}

.search-category-checkbox-box input[type='radio']#seafood {
  accent-color: var(--category-seafood);
}

.search-category-checkbox-box input[type='radio']#misc {
  accent-color: var(--category-misc);
}

.search-category-checkbox-box input[type='radio']#paste {
  accent-color: var(--category-paste);
}

.search-category-checkbox-box input[type='radio']#veg {
  accent-color: var(--category-veg);
}

/* Search results */

.search-results {
  width: var(--width-12col);
  margin: 0 auto auto 200px;
}

.search-results H2 {
  display: none;
}

.search-results article {
  padding: 56px 94px;
  border-bottom: 1px solid var(--color-dark);
}

.search-results article h3 {
  text-transform: uppercase;
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 14px;
}

.search-results a {
  text-decoration: none;
  color: var(--color-light);
}

.search-results a h3:hover {
  text-decoration: underline;
}

.search-results-category {
  font-weight: 700;
  margin-bottom: 11px;
  padding-left: 10px;
  line-height: 14px;
}

/* Category color in search result*/
.search-results-category span[data-category='seafood'] {
  color: var(--category-seafood);
}

.search-results-category span[data-category='chicken'] {
  color: var(--category-chicken);
}

.search-results-category span[data-category='dessert'] {
  color: var(--category-dessert);
}

.search-results-category span[data-category='meats'] {
  color: var(--category-meats);
}

.search-results-category span[data-category='veg'] {
  color: var(--category-veg);
}

.search-results-category span[data-category='paste'] {
  color: var(--category-paste);
}

.search-results-category span[data-category='misc'] {
  color: var(--category-misc);
}

/* BORDER */

.search-results-category[data-category='seafood'] {
  border-left: 3px solid var(--category-seafood);
}

.search-results-category[data-category='chicken'] {
  border-left: 3px solid var(--category-chicken);
}

.search-results-category span[data-category='dessert'] {
  border-left: 3px solid var(--category-dessert);
}

.search-results-category span[data-category='meats'] {
  border-left: 3px solid var(--category-meats);
}

.search-results-category span[data-category='veg'] {
  border-left: 3px solid var(--category-veg);
}

.search-results-category span[data-category='paste'] {
  border-left: 3px solid var(--category-paste);
}

.search-results-category span[data-category='misc'] {
  border-left: 3px solid var(--category-misc);
}

/* CATEGORY PAGE */

/* 1st screen */

.category-hero-section {
  width: var(--width-full);
  background-image: url('https://picsum.photos/1200/500');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  /* border-bottom: 1px solid var(--color-dark); */
  min-height: 500px;
  display: flex;
  justify-content: center;
}

.category-hero-container {
  width: var(--width-12col);

  margin: 0, auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 150px auto auto;
  gap: var(--grid-gap);
  color: var(--color-white);
  padding-left: var(--grid-gap);
}

.category-hero-text {
  grid-column: 1 / span 4;
  grid-row: 2;
  font-size: 12px;
  font-family: Inter, sans-serif;
}

.category-hero-text h1 {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: var(--grid-gap);
}

.category-hero-text h1 span {
  font-size: 37px;
  font-weight: 800;
}

.category-hero-text p {
  margin-bottom: var(--grid-gap);
}

.category-hero-button {
  grid-row: 3;
  grid-column: 2 / span 2;
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  padding: 10px;
  color: var(--bachground-color-light);
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  height: fit-content;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
}

.category-hero-button:hover {
  font-size: 17px;
  background-color: var(--bachground-color-light);
  color: var(--color-dark);
}

.category-hero-container a {
  text-decoration: none;
}

/* Tips & Guides */

.category-tips-section {
  width: var(--width-12col);
  margin: 0 auto;
}
.category-tips-container {
  grid-template-rows: auto auto;
  padding-top: 37px;
  display: grid;
  gap: var(--grid-gap);
  justify-content: space-between;
}

.category-tips-article {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.category-tips-article article {
  width: calc((100% / 3) - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
        box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.25);
        background-color:var(--bachground-color-light);
}

.category-tips-article img {
  width: 50%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 5px 0 0 5px;
}

.category-tips-text {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.category-tips-text h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 26px;
  color: var(--primary-color);
}

.category-tips-text p {
  margin-bottom: 34px;
  color: var(--color-dark);
}

.category-tips-article-button {
  width: fit-content;
  height: fit-content;
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: var(--bachground-color-light);
  text-align: center;
  padding: 8px 14px;
  text-decoration: none;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
  align-self: end;
}

.category-tips-article-button:hover {
  background-color: var(--bachground-color-light);
  color: var(--color-dark);
  border: 1px solid var(--color-dark);
}

.category-tips-button-bottom-block {
  width: 100%;
  grid-row: 2;
  display: flex;
  justify-content: center;
  padding-top: 31px;
}

.category-tips-button-bottom {
  height: fit-content;
  background-color: var(--color-dark);
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  color: var(--bachground-color-light);
  text-align: center;
  text-transform: uppercase;
  padding: 10px 47px;
  text-decoration: none;
}

.category-tips-button-bottom:hover {
  background-color: var(--bachground-color-light);
  color: var(--color-dark);
}

/*  top desserts */
.top-desserts {
  width: var(--width-12col);
  margin: 0 auto;
  height: fit-content;
}

.top-desserts-container-block {
  display: flex;
  margin-top: 28px;
  gap: var(--grid-gap);
  flex-wrap: wrap;
}

.top-desserts-listing {
  display: grid;
  background-color: var(--bachground-color-light);
  grid-template-rows: auto 1fr;
  color: var(--color-dark);
  border-radius: 5px;
  width: calc((100% / 4) - 10px);
}

.top-desserts-listing-img img {
  border-radius: 5px 5px 0 0;
  height: 170px;
  width: 100%;
  background-size: auto;
  background-position: center;
}

.top-desserts-listing-text {
  padding: 22px 23px 24px 39px;
  display: flex;
  flex-direction: column;
}

.top-desserts-listing-text h3 {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.top-desserts-listing-text p {
  text-transform: capitalize;
  margin-bottom: 27px;
  font-size: 16px;
}

.top-desserts-listing-text-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.top-desserts-property {
  display: flex;
  flex-direction: column;
  text-transform: capitalize;
  flex-grow: 1;
}

.top-desserts-property-row {
  display: flex;
  gap: var(--grid-gap);
  flex-wrap: nowrap;
  margin-bottom: 4px;
}

.top-desserts-property-row p {
  margin-bottom: 0;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 500;
}

.top-desserts-property-row img {
  display: flex;
  align-items: center;
}

.top-desserts-listing-text-last {
  justify-content: flex-end;
  align-items: flex-end;
  flex-grow: 1;
  display: flex;
}

/* subscribe */

.subscribe {
  width: var(--width-full);
  min-height: 400px;
  background-image: url('https://picsum.photos/1200/400');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 73px;
}

.subscribe-block {
  width: var(--width-12col);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bachground-color-light);
  border-radius: 5px;
  margin: 0 auto;
  padding: 55px 130px;
}

.subscribe-text {
  width: 50%;
  align-items: center;
}

.subscribe-text h3 {
  color: var(--primary-color);
  font-weight: 700;
  font-style: 22px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.subscribe-text p {
  color: var(--color-dark);
}

.subscribe-mail-form {
  width: 50%;
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  margin-left: 120px;
}

.subscribe-input {
  background-color: transparent;
  border: 1px solid var(--bachground-color-light);
  border-radius: 5px;
  padding: 10px 20px;
  color: var(--color-grey);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  min-width: 300px;
}

.subscribe-input::placeholder {
  color: var(--color-grey);
}

/* < !-- SEO text or answers --> */

.seo-text {
  margin: 0 auto;
  width: var(--width-12col);
  padding-bottom: 75px;
  line-height: 2;
}

.seo-text-p {
  padding-top: 30px;
}
/* 
 
@media (width < 200px) { 
   :root {
  --width-12col: 100%;
}
.todays_recipes-container-block {
  grid-template-columns: repeat(1, 1fr);
}

.all_star_showdown {
  display: none;
} 
} */